* {
    font-family: 'PT Sans', sans-serif;
}
body {
    background-color: #f5f5f5;
}
/*HEADER*/

.header_porebrik {
    width: 100%;
}
.header_porebrik div {
    display: inline-block;
    box-sizing: content-box;
}
.logo_left {
    width: calc(1140px * 0.35);
    padding-left: calc((100% - 1140px) / 2);
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
    background: white;
}
.logo_left::after {
    content: '';
    width: 1.5em;
    height: 100%;
    position: absolute;
    background-color: #f5f5f5;
    transform: skewX(15deg);
    right: -1%;
    top: 0;
    z-index: 2;
}
.contact {
    float: right;
    width: calc(1140px * 0.65);
    padding-right: calc((100% - 1140px) / 2);
    background: white;
}
.contact div {
    margin-top: 0.5em;
}
.contact div.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.phone {
    margin-left: 5em;
}
div.social_header {
    margin-top: 0.2em;
}
.social_header i {
    padding: 10px;
    background-color: #f5f5f5;
}
.header_porebrik::after {
    content: '';
    display: block;
    clear: both;
}
/*Menu*/
.menu {
    margin-top: -2em;
    margin-bottom: 0.5em;
    width: calc(1140px * 0.55);
    margin-right: calc((100% - 1140px) / 2);
    float: right;
    background-color: #f5f5f5;
}
.navbar {
    padding: 0;
    float: right;
}
.menu ul li {
    margin-left: 1.5vw;
    font-weight: bold;
    font-size: 1em;
}

.nav-item i.fas {
    font-size: 1.5em;
    margin-top: 0.35em;
}
/*SLIDER*/

.slider {
    background-image: url(./img/slide-1-1920x753.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vw;
}

.slider_section h1 {
    color: white;
}

.btn_slide {
    border: none;
    background-color: #c41330;
    color: white;
    font-weight: bold;
    padding: 20px 0;
    width: 50%;
}

/*ABOUT PRODUCT*/

.about_product {
    background-color: #f5f5f5;
}

.image_poduct, .text_product {
    margin: 20px 0;
}

.tab_poduct {
    margin-top: -75px;
}

.tab_poduct > div > a {
    margin-left: 80px;
}

.tab_poduct div.head_tab {
    position: relative;
}

.tab_poduct div.head_tab {
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
    background: linear-gradient(135deg, transparent 10px, white 0) top left, linear-gradient(0deg, transparent 0px, white 0) top right, linear-gradient(0deg, transparent 0px, white 0) bottom right, linear-gradient(0deg, transparent 0px, white 0) bottom left;
    background-size: 55% 55%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
}

.tab_poduct div {
    padding: 25px;
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
}
.tab_poduct div.str {
    padding: 25px;
    background-color: gray;
    background: linear-gradient(to right, transparent 50%, #f5f5f5 0);
    position: relative;
    box-shadow:  0px 5px 1px #f5f5f5;
}
.str ion-icon {
    float: right;
    font-size: 25px;
}
.tab_poduct div > a > span {
    color: #c61333;
    margin-right: 0.5em;
}
/*GALLERY*/
.gallery_header {
    background-color: white;
    padding: 20px 0 30px;
}
.photo_gallery div {
    max-width: calc((100% / 4) - 10px);
    padding: 0;
    margin-bottom: 10px;
}

.photo_gallery div > img {
    width: 100%;
}
/*FOOTER*/

.footer {
    background-image: url(./img/bg-footer-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer_navigation, .footer_contact {
    border-right: 1px solid rgba(255, 255, 255, 0.527);
    padding-bottom: 5vh;
}

.footer .col-md-12, .footer .col-md-6 {
    padding: 0;
}

.footer .col-md-6 {
    padding-right: 10px;
    padding-left: 0;
}

.footer p {
    font-weight: bold;
}

.footer_header p {
    border-bottom: 1px solid rgba(255, 255, 255, 0.527);
    padding: 30px 20px 20px 0;
    font-weight: normal;
}

.footer_navigation .social i {
    margin-top: 30px;
    font-size: 1.5vh;
    padding: 10px;
    margin-right: 10px;
    background-color: #343c49;
}

.footer_contact ion-icon, .footer_contact ion-icon {
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.274);
}

.footer_button {
    width: 70%;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #e01b22;
    padding: 10px 20px;
    margin-top: 20px;
}

.impuls {
    background: #343c49;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
}

.impuls p {
    margin: 0;
}

.impuls_background {
    background-color: #343c49;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

@media (max-width: 1140px) {
    .logo_left {
        width: 100%;
        padding-left: 0;
        padding-bottom: 1em;
        padding-top: 1em;
    }
    .logo_left img {
        margin-left: 1em;
    }
    .logo_left::after {
        content: '';
        width: 0;
    }
    .contact {
        float: none;
        width: 100%;
        padding-right: 0;
        background: white;
    }
    .contact div {
        margin-top: 0;
    }
    .contact div.flex-wrapper {
        justify-content: space-around;
    }
    /*Menu*/
    .menu {
        display: inline-block;
        margin-top: 0.5em;
        width: 100%;
        float: none;
    }
    .navbar {
        padding: 0;
        float: right;
        margin-right: 2em;
    }
    .menu ul li {
        margin-left: 1.5vw;
        font-weight: bold;
        font-size: 1em;
    }
    
    .nav-item i.fas {
        font-size: 1.5em;
        margin-top: 0.35em;
    }
    .tab_poduct {
        margin-top: 0px;
    }
}
